appname = location-api
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

# MinIO Config
MINIO_ENDPOINT=
MINIO_REGION=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_PRESIGNED_URL_EXPIRATION=15m

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_SSLMODE=
